body {
    font-family: Monospace;
}

#container {
    margin: 0px auto 10px;
    width: 800px;
}

#info {
    width: 49%;
    display: inline-block;
    float: right;
}

#tooltip {
    width: 49%;
    display: inline-block;
}

#plot-container {
    min-height: 400px;
}

#placeholder {
    min-height: 400px;
}

#overview {
    height: 150px;
}
}