body {
    font-family: Monospace;
}

#container {
    margin: 0px auto;
    width: 800px;
}

#plot-container {
    min-height: 400px;
}

#placeholder {
    min-height: 400px;
}

#overview {
    height: 150px;
}